/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 mar 2025, 10:06:15 a. m.
    Author     : marjo
*/


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


main {
    flex: 1;
}

footer {
    background-color: #0751b5;
    color: black;
    text-align: center;
    padding: 10px;


}

.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}


body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-weight: 600;
}

p {
    font-weight: 300;
}

section {
    display: block;
    margin-top: 20px;
}


.product-name {
    margin-top: 10px;
    background-color: #ff3131;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    font-size: 20px;
    padding: 10px 15px;
    border-radius: 12px;
    display: inline-block;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}


.product-name:hover {
    background-color: #e60e0e;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.custom-font {
    font-family: 'JetBrains Mono', monospace;
}

.img-fluid {
    width: 100%;
    max-width: 300px;
    height: auto;
}


#login-card .login-header {
    background-color: #ff721e;
    color: #ffffff;
    border-radius: 8px 8px 0 0; 
    font-weight: bold; 
    text-align: center;
}


#login-card .form-control {
    border: 1px solid #ccc; 
    border-radius: 4px;
}

#login-card .btn-primary {
    background-color: #ff721e;
    border-color: #000000;
    color: #fff;
}

.login-title {
    font-family: 'JetBrains Mono', monospace;
    font-size: 1.5rem; 
    font-weight: bold;
    color: #333; 
}