/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 11 mar 2025, 10:06:15 a. m.
    Author     : marjo
*/


html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


main {
    flex: 1;
}

footer {
    background-color: #17a2b8;
    color: black;
    text-align: center;
    padding: 10px;


}

.layout {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100dvh;
}


body {
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}

h1, h2, h3 {
    font-weight: 600;
}

p {
    font-weight: 300;
}

section {
    display: block;
    margin-top: 20px;
}


/* Estilo para el texto debajo de las imágenes */
.product-name {
    margin-top: 10px; /* Espacio entre la imagen y el texto */
    background-color: #ff3131; /* Fondo claro */
    color: #ffffff; /* Color del texto */
    font-family: 'JetBrains Mono', monospace;/* Tipografía específica */
    font-size: 20px; /* Tamaño del texto */
    padding: 10px 15px; /* Espaciado interno */
    border-radius: 12px; /* Bordes redondeados */
    display: inline-block; /* Ajusta el tamaño al texto */
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.custom-font {
    font-family: 'JetBrains Mono', monospace;
}

