<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head th:replace="~{layout/plantilla :: head}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    </head>

    <body>
        <header th:replace="~{layout/plantilla :: header}"></header>

        <main class="container mt-4">
            <h1 class="text-center">Bienvenido a Morpho Textiles CR</h1>
            <p class="text-center">Tu mejor opción en textiles.</p>

            <!-- Productos más vendidos -->
            <section class="mt-5">
                <h2 class="text-center">Productos más vendidos</h2>
                <div class="row g-4">
                    <div class="col-md-4">
                        <img th:src="@{/img/ABRIGO-MOCKUP.png}" class="img-fluid rounded shadow" alt="Producto 1">
                    </div>
                    
                </div>
                <div class="col-md-4">
                    <img th:src="@{/img/TSHIRT.png}" class="img-fluid rounded shadow" alt="Producto 2">
                </div>
                <div class="col-md-4">
                    <img th:src="@{/img/11-1.jpg}" class="img-fluid rounded shadow" alt="Producto 3">
                </div>
                </div>
            </section>

            <!-- Productos personalizables -->
            <section class="mt-5">
                <h2 class="text-center">Productos Personalizables</h2>
                <div class="row g-4">
                    <div class="col-md-3">
                        <img th:src="@{/img/blusas-producto.jpg}" class="img-fluid rounded shadow" alt="Personalizable 1">
                    </div>
                    <div class="col-md-3">
                        <img th:src="@{/img/botellas-producto.jpg}" class="img-fluid rounded shadow" alt="Personalizable 2">
                    </div>
                    <div class="col-md-3">
                        <img th:src="@{/img/tazas-producto.jpg}" class="img-fluid rounded shadow" alt="Personalizable 3">
                    </div>
                    <div class="col-md-3">
                        <img th:src="@{/img/tshirt-producto.jpg}" class="img-fluid rounded shadow" alt="Personalizable 4">
                    </div>
                </div>
            </section>
        </main>

        <footer th:replace="~{layout/plantilla :: footer}"></footer>
    </body>
</html>
