<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Morpho Textiles CR</title>
        <meta charset="UTF-8"/>        

    </head>
    <body>
        <!-- 1 Sección para mostrar las categorias tabs-->
        <section th:fragment="tabs" class="p-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link "  href="/pruebas/listado">[[#{pruebas.todas}]]</a>
                </li>
                <li th:each="c : ${categorias}" 
                    class="nav-item">
                    <a class="nav-link" 
                       th:href="@{/pruebas/listado/}+${c.idCategoria}">
                        [[${c.descripcion}]]</a>
                </li>


            </ul>

        </section>
        <section th:fragment="tarjetas" id="productos">
            
            <div class="container py-3">
                <div class="card">
                    <div class="card-header text-center">
                        <h4>[[#{producto.listado}]]</h4>
                    </div>
                    <div class="row row-cols-1 row-cols-md-3 g-4" th:if="${productos != null and !productos.empty}">
                        <div class="col" th:each="c : ${productos}">
                            <div class="card h-100 text-center" style="width: 18rem;">
                                <img th:src="@{${c.imagen}}" class="card-img-top" alt="Producto"></img>
                                <div class="card-body">
                                    <h5 class="card-title">[[${c.nombre}]]</h5>
                                    <p class="card-text">[[${c.descripcion}]]</p>
                                    <p class="card-text"><strong>Precio:</strong> $[[${c.precio}]]</p>
                                    <p class="card-text"><strong>Stock:</strong> [[${c.stock}]]</p>
                                    
                                    <a th:href="@{/producto/añadir/}+${c.idProducto}" class="btn btn-success">
                                        <i class="fas fa-shopping-cart"></i> [[#{accion.añadir}]]
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                        <span>[[#{lista.vacia}]]</span>
                    </div>
                </div>
            </div>
        </section>

     

        <!-- 1 Sección para mostrar filtros para productos--> 
     <section th:fragment="filtros" class="p-3">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form method="post" th:action="@{/pruebas/query4}" class="was-validated">
                <div class="input-group">
                    <input type="text"
                           class="form-control"
                           th:value="${descripcion}"
                           th:name="descripcion"
                           placeholder="Buscar por descripción..."
                           required=true>
                    <button class="btn btn-primary btn-block" type="submit">
                        <i class="fas fa-search"></i> Buscar
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>





        </section>
    </body>
</html>
