<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6"
      xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Morpho Textiles CR</title>
        <meta charset="UTF-8"/>        

    </head>
    <body>
        <!-- 1 Sección para mostrar las categorias tabs-->
        <section th:fragment="tabs" class="p-3">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link "  href="/pruebas/listado">[[#{pruebas.todas}]]</a>
                </li>
                <li th:each="c : ${categorias}" 
                    class="nav-item">
                    <a class="nav-link" 
                       th:href="@{/pruebas/listado/}+${c.idCategoria}">
                        [[${c.descripcion}]]</a>
                </li>


            </ul>

        </section>
        <!-- carrito -->
        <section th:fragment="tarjetas" id="productos">



            <section th:fragment="tarjetas" class="p-3">
                <div class="row row-cols-4">
                    <div class="card p-2" th:each="c : ${productos}">
                        <figure>
                            <img th:src="@{${c.imagen}}"
                                 height="200"
                                 class="card-img-top"
                                 alt="Producto"/>
                            <figcaption class="d-flex justify-content-between">
                                <span>¢[[${c.precio}]]</span>
                                <span>([[${c.stock}]])</span>
                                <form>
                                    <input type="hidden"
                                           name="idProducto"
                                           th:value="${c.idProducto}"/>
                                    <input type="hidden"
                                           name="existencias"
                                           th:value="${c.stock}"/>
                                    <button type="button"
                                            onclick="addCart(this.form);"
                                            class="btn btn-light">
                                        <i class="fas fa-cart-arrow-down"></i>
                                    </button>
                                </form>
                            </figcaption>
                        </figure>
                        <div class="card-header">
                            <h4>[[${c.nombre}]]</h4>
                        </div>
                        <div class="card-body">
                            <p class="card-text">[[${c.descripcion}]]</p>
                        </div>
                    </div>
                </div>

                <div class="text-center p-2" th:if="${productos == null or productos.empty}">
                    <span>[[#{lista.vacia}]]</span>
                </div>
            </section>



            <!-- 1 Sección para mostrar filtros para productos--> 
            <section th:fragment="filtros" class="p-3">
                <div class="row justify-content-center">
                    <div class="col-md-6">
                        <form method="post" th:action="@{/pruebas/query4}" class="was-validated">
                            <div class="input-group">
                                <input type="text"
                                       class="form-control"
                                       th:value="${descripcion}"
                                       th:name="descripcion"
                                       placeholder="Buscar por descripción..."
                                       required=true>
                                    <button class="btn btn-primary btn-block" type="submit">
                                        <i class="fas fa-search"></i> Buscar
                                    </button>
                            </div>
                        </form>
                    </div>
                </div>
            </section>





        </section>
    </body>
</html>
