<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Morpho Textiles CR</title>
        <meta charset="UTF-8"/>        
    </head>
    <body>
        <div th:fragment="encabezado(titulo)">
            <header class="text-center my-4">
                <h1 th:text="${titulo}">Preguntas Frecuentes</h1>
                <p class="text-muted">En MorphoTCR nos encanta que estés bien informad@</p>
            </header>
        </div>
    </body>
</html>
